!/log/.keep
*.comments
*.sublime-project
*.sublime-workspace
*.xcf
.bundle
.DS_Store
.idea/
.rake_tasks~
.rubocop.yml
/config/application.yml
/config/environments/*.local.yml
/config/settings.local.yml
/config/settings/*.local.yml
/coverage/
/log/*.log
/public/assets
/public/sitemap*
/public/system
/public/uploads/
/tmp
dump.rdb
rails_best_practices_output.html
REVISION