@import 'bootstrap/_mixins-plus'

section
  &.page
    padding: 20px 0 50px
  &.products
    .section-title
      font-size: 30px
      font-weight: bold
      line-height: 40px
      margin-bottom: 20px
    .panel
      .panel-footer
        // height: 100px
      &.panel-pizza
        .panel-body
          background-position: 100% 0
          padding-top: 180px
          .pizza-title
            font-style: 16px
            font-weight: bold
          .pizza-ingredients
        &.pizza-derevenskaya
          .panel-body
            +retina-bg('pizza/derevenskaya.jpg', 'pizza/derevenskaya@2x.jpg')
        &.pizza-domashyaya
          .panel-body
            +retina-bg('pizza/domashyaya.jpg', 'pizza/domashyaya@2x.jpg')
        &.pizza-kurica
          .panel-body
            +retina-bg('pizza/kurica.jpg', 'pizza/kurica@2x.jpg')
        &.pizza-objora
          .panel-body
            +retina-bg('pizza/objora.jpg', 'pizza/objora@2x.jpg')
