@import 'variables'

.block
  &.item-actions
    position: absolute
    right: 0
    top: 0
    > a, small
      color: #A6A2C7
      & +
        a, small
          margin-left: 10px
  &.quantity-controls
    float: right
    position: relative
    z-index: 1
    .quantity-amount
      margin: 0 5px
    .quantity-control
      color: #aaa
      display: inline-block
      line-height: 20px
      text-align: center
      width: 20px
      &:hover, &:focus
        color: #333
