@import 'variables'
@import 'breakpoint-sass'
@import 'settings/prefixer'
@import 'addons/border-radius'
@import 'addons/prefixer'
@import 'addons/retina'
@import 'addons/rhythm'
@import 'addons/scrollbar'
@import 'css3/calc'
@import 'css3/transition'

.panel
  margin-bottom: 8px
  .panel-heading
    min-height: 40px
    position: relative
    > .block.item-actions
      padding: $panel-heading-padding
  .panel-body
    > .list-group
      margin: -10px -15px
      .list-group-item
        border: none
        position: relative
  &.panel-dummy
    +transition(box-shadow 0.25s)
    background-color: #fff
    background-size: cover
    border-radius: 6px
    display: block
    height: 411px
    margin-bottom: 18px
    overflow: hidden
    .ladda-label
      height: 100%
      width: 100%
    .panel-body
      +transition(all 0.25s)
      height: 100%
      padding: 10px
      text-align: center
      .panel-title
        font-size: 30px
        font-weight: 700
        line-height: 40px
        margin: 155px 0 10px
        min-height: 40px*2
        text-shadow: 0 0 3px rgba(#000, 0.5)
      .panel-subtitle
        font-size: 20px
        font-weight: 700
        line-height: 30px
        margin-bottom: 20px
        min-height: 30px*2
        text-shadow: 0 0 3px rgba(#000, 0.5)
      .btn
        padding: 5px 20px
        &.btn-primary
          border-color: darken($brand-primary, 10%)
    &:hover
      box-shadow: 0 2px 7px rgba(#000, 0.6)
      .panel-body
        background-color: rgba(#fff, 0.02)
    &:active
      box-shadow: 0 2px 7px rgba(#000, 0.4) inset
      .panel-body
        background-color: rgba(#000, 0.1)
        color: darken(#fff, 5%)
    &.dummy-auth
      background-color: #322a29
      background-image: image_url('auth@2x.jpg')
      border-color: #322a29
      color: #fff
    &.dummy-constructor
      background-color: #7b380d
      background-image: image_url('oven@2x.jpg')
      border-color: #7b380d
      color: #fff
    &.dummy-specifier
      background-color: #975e40
      background-image: image_url('menu@2x.jpg')
      border-color: #975e40
      color: #fff
  &.panel-item
    .panel-body
      min-height: $input-height-base - 2px
      padding: $padding-base-vertical $padding-base-horizontal $padding-base-vertical - 1px
      position: relative
      > .block.item-actions
        padding: $padding-base-vertical $padding-base-horizontal $padding-base-vertical - 1px
  &.panel-order
    max-width: 1000px
    .panel-body
      background-color: #f5f5f5
      padding: 0 10px
      .row
        .row-title
          font-weight: bold
          line-height: 35px
        .col-side, .col-main
          float: left
          min-height: 1px
          padding: 20px 15px
          position: relative
        .col-side
          width: 200px
          +breakpoint($screen-lg-min)
            width: 300px
        .col-main
          +calc(width, '100% - 200px')
          background-color: #fff
          border-left: 1px solid #ccc
          .row + .row
            margin-top: 20px
          +breakpoint($screen-lg-min)
            +calc(width, '100% - 300px')
        + .row
          margin-top: 0
          .col-side
            border-top: 1px dashed #ccc
          .col-main
            border-top: 1px dashed #eee
  &.panel-order-info
    max-width: 1000px
    overflow: hidden
    .panel-heading
      span, small, .btn-group
        & +
          span, small, .btn-group
            margin-left: 5px
      small
        color: lighten($text-color, 45%)
      .btn-group
        margin: -7px -12px 0 10px
    .panel-body
      background-color: #f5f5f5
      padding: 0 10px
      .row
        .col-side, .col-main
          float: left
          min-height: 1px
          position: relative
        .col-side
          padding: 20px 15px
          width: 200px
          +breakpoint($screen-lg-min)
            width: 300px
        .col-main
          +calc(width, '100% - 200px')
          background-color: #fff
          border-bottom: 1px solid #ccc
          border-left: 1px solid #ccc
          margin-bottom: -1px
          padding: 0
          +breakpoint($screen-lg-min)
            +calc(width, '100% - 300px')
  &.panel-pizza
    max-width: 1350px
    .panel-heading
      .panel-title
        small
          color: #959286
          font-size: 16px
    .panel-body
      padding: 0 10px
      .row
        .col-side, .col-main
          float: left
          min-height: 1px
          position: relative
        .col-side
          background-color: #f5f5f5
          border-left: 1px solid #ccc
          padding: 10px 15px
          width: 400px
          .block.group-ingredients
            +scrollbar
            height: 600px - 200px
            overflow: auto
          .pizza-attributes
            +transition(color 1.5s)
            display: inline-block
            height: rh(3)
            margin-right: -30px
            position: relative
            .pizza-attribute
              display: block
              height: rh()
              .text-muted
                color: #d2dae1
              .pizza-size, .pizza-price, .pizza-weight
                display: inline-block
              .pizza-price
                font-size: 16px
                font-weight: bold
                margin: 0 7px
              .pizza-weight
                font-size: 12px
            .pizza-error
              padding: rh() 0
            &.ladda-button[data-loading]
              color: #959286
          .pizza-submit
            float: right
            padding: 15px 0
        .col-main
          +calc(width, '100% - 400px')
          line-height: 600px
          min-height: 600px
          overflow: hidden
          text-align: right
          img
            max-width: 100%
            vertical-align: middle
          .pizza-info
            bottom: 0
            left: 0
            line-height: rh()
            padding: 10px 15px
            position: absolute
            text-align: left
            width: 100%
            .info-title
              font-size: 20px
              font-weight: bold
              margin-bottom: rh(0.5)
          .pizza-plate
            background: #fff image_url('grill-plate-rect.jpg')
            background-position: 50% 50%
            background-size: 922px 600px
            height: 600px
            left: 50%
            margin: 10px 0 0 -466px
            position: relative
            width: 922px
            .pizza-frame
              +prefixer(transform, rotate(0deg), spec webkit)
              border-radius: 50%
              height: 500px
              left: 50%
              margin: -250px
              position: absolute
              top: 50%
              width: 500px
              img
                height: 100%
                left: 0
                position: absolute
                top: 0
                width: 100%
                &.ng-hide-add, &.ng-hide-remove
                  +transition(all, 0.25s)
                  display: block !important
                &.ng-hide-add.ng-hide-add-active, &.ng-hide-remove
                  opacity: 0
                &.ng-hide-add, &.ng-hide-remove.ng-hide-remove-active
                  opacity: 1
  &.panel-product
    border-radius: 6px
    margin-bottom: 18px
    overflow: hidden
    .panel-body
      background-position: 100% 0
      padding: 0 0 10px
      position: relative
      .product-image
        height: 215px
        margin-bottom: -25px
        overflow: hidden
        position: relative
        img
          height: auto
          left: 0
          position: absolute
          top: 0
          width: 100%
        &.image-unique
          img
            left: auto
            right: -60px
            top: -85px
            width: 300px
      .product-badge
        left: 0
        position: absolute
        top: 0
        &.badge-hot
          +svg-image('hot.png', 'hot.svg', 65px, 65px)
      .product-title
        font-size: 16px
        font-weight: bold
        line-height: rh()
        padding: 0 15px
        position: relative
        text-shadow: 0 0 4px #fff
      .pizza-ingredients
        +scrollbar
        height: rh(3)
        line-height: rh()
        margin-top: 5px
        padding: 0 15px
        overflow: auto
        overflow: overlay
      .pizza-edit-ingredients
        line-height: rh()
        margin-top: 5px
        padding: 0 15px
    .panel-footer
      padding: 0
      .list-group
        margin: 0
        .list-group-item
          border: none
          height: rh(2)
          overflow: hidden
          position: relative
          .text-muted
            color: #d2dae1
          span + span
            margin-left: 7px
          .pull-right
            +transition(background-color 0.25s)
            background-color: transparent
            font-size: 12px
            margin: -10px -15px
            padding: 10px 15px
        a.list-group-item
          &:hover
            .pull-right
              background-color: $brand-primary
          &.ladda-button
            .ladda-spinner
              right: -19px
