@import 'variables'

.progress
  margin: 0

.progress-bar
  box-shadow: none
  background-color: #c7c7c7

.progress-bar-success
  background-color: $brand-success
.progress-bar-info
  background-color: $brand-info
.progress-bar-warning
  background-color: $brand-warning
.progress-bar-danger
  background-color: $brand-danger
