@import 'variables'
@import 'breakpoint-sass'
@import 'css3/calc'
@import 'mixins'
@import 'bootstrap/_mixins-plus'
@import 'settings/prefixer'
@import 'addons/prefixer'
@import 'css3/transition'

*:focus
  outline: 0 !important

a
  cursor: pointer
  &:hover, &:focus
    text-decoration: none

.ng-hide
  display: none

html.turbolinks-progress-bar::before
  background-color: $brand-primary !important

html, body
  min-width: 700px
  height: 100%

body
  +scrollbar
  -moz-osx-font-smoothing: auto
  -webkit-font-smoothing: subpixel-antialiased
  font-smoothing: subpixel-antialiased
  position: relative
  text-rendering: optimizeLegibility
  &.turbolinks-cached
    &:before
      background-color: rgba(#fff, 0.25)
      content: ''
      height: 100%
      left: 0
      position: fixed
      top: 0
      width: 100%
      z-index: 1

.logo
  +retina-image('logo-old.png', 'logo-old@2x.png', 268px, 80px)
  display: inline-block
  vertical-align: middle

.navmenu-fixed-left, .navmenu-fixed-right, .navbar-offcanvas
  z-index: 0
.navmenu, .navbar-offcanvas
  overflow: hidden
  width: $navmenu-width
  .navmenu-brand
    font-size: 0
    line-height: $navbar-height
    margin: 0
    padding: 5px 15px
    text-align: center
    &:hover, &:focus
      background-color: rgba(#f0f0f0, 0.1)
  .navmenu-divider
    height: 20px
  .navmenu-scroll-area
    +calc(height, '100% - 70px')
    overflow: auto
    overflow: overlay
    padding-bottom: 60px
  .navmenu-bottom-area
    bottom: 0
    height: 80px
    left: 0
    position: absolute
    width: 100%
  .navmenu-nav
    >
      .navmenu-title
        font-size: 16px
        font-weight: 700
        line-height: 20px
        padding: 15px 15px
        text-transform: uppercase
      li > a, li > div
        border-left: 3px solid transparent
        padding-left: 12px
        .nav-item-title
          font-size: 15px
          font-weight: bold
        .nav-item-subtitle
          font-size: 14px
        >
          .fa
            margin-right: 5px
            text-align: center
            width: 19px
            &.fa-chevron-down,
            &.fa-chevron-up
              float: right
              line-height: 20px
              width: auto
          .badge
            font-size: 11px
            padding: 2px 5px 2px 4px
            margin-top: 2px
          .text-muted
            margin: 0 3px
        &.active
          .text
            display: none
          .text-active
            display: inline-block
      .open > a
        .fa-chevron-down:before
          content: "\f077"
    &.dropdown-menu
      >
        li > a, li > div
          border-left: 3px solid transparent
          padding: 10px 15px 10px 12px
          white-space: initial
          span + small,
          small + span
            margin-left: 7px
          small
            font-weight: normal
          .nav-item-title
            margin: 0 0 0 24px
          .nav-item-subtitle
            margin: 0 0 0 24px
.navmenu-default, .navbar-default .navbar-offcanvas
  background-color: $navbar-default-bg
  border-color: $navbar-default-border
  color: $navbar-default-color
  .navmenu-scroll-area
    +scrollbar($navbar-default-color)
  .navmenu-nav
    >
      li > a
        color: $navbar-default-link-color
        &:hover, &:focus
          background-color: $navbar-default-link-hover-bg
          color: $navbar-default-link-hover-color
      .active > a
        &, &:hover, &:focus
          background-color: $navbar-default-link-active-bg
          color: $navbar-default-link-active-color
      .disabled > a
        &, &:hover, &:focus
          background-color: $navbar-default-link-disabled-bg
          color: $navbar-default-link-disabled-color
      .open > a
        &
          background-color: $navbar-default-link-active-bg
          color: $navbar-default-link-active-color
        &:hover, &:focus
          background-color: $navbar-default-link-hover-bg
          color: $navbar-default-link-hover-color
    &.dropdown-menu
      background-color: rgba(#000, 0.04)
      border-top: 1px solid darken($navbar-default-bg, 15%)
      border-bottom: 1px solid darken($navbar-default-bg, 18%)
      >
        li > a
          color: $navbar-default-link-color
          &:hover, &:focus
            color: $navbar-default-link-hover-color
.navmenu-inverse, .navbar-inverse .navbar-offcanvas
  +retina-bg('bg.png', 'bg@2x.png', repeat, 500px, 500px)
  background-color: $navbar-inverse-bg
  border-color: $navbar-inverse-bg
  border: none
  color: $navbar-inverse-color
  .navmenu-scroll-area
    +scrollbar($navbar-inverse-color)
  .navmenu-nav
    >
      li > a
        color: $navbar-inverse-link-color
        &:hover, &:focus
          background-color: $navbar-inverse-link-hover-bg
          color: $navbar-inverse-link-hover-color
      .active > a
        &, &:hover, &:focus
          background-color: $navbar-inverse-link-active-bg
          border-color: $brand-primary
          color: $navbar-inverse-link-active-color
      .disabled > a
        &, &:hover, &:focus
          background-color: $navbar-inverse-link-disabled-bg
          color: $navbar-inverse-link-disabled-color
      .open > a
        &
          background-color: $navbar-inverse-link-open-bg
          color: $navbar-inverse-link-open-color
        &:hover, &:focus
          background-color: $navbar-inverse-link-hover-bg
          color: $navbar-inverse-link-hover-color
    &.dropdown-menu
      background-color: rgba(#000, 0.2)
      border-top: 1px solid darken($navbar-inverse-bg, 2%)
      border-bottom: 1px solid darken($navbar-inverse-bg, 3%)
      >
        li > a
          color: $navbar-inverse-link-color
          &:hover, &:focus
            color: $navbar-inverse-link-hover-color
        .active > a
          &, &:hover, &:focus
            background-color: $navbar-inverse-link-active-bg
            border-color: $brand-primary
            color: $navbar-inverse-link-active-color

.body
  +retina-bg('bg.png', 'bg@2x.png', repeat, 500px, 500px)
  background-color: $body-bg
  left: 0
  min-height: 100%
  padding-top: $navbar-height
  position: relative
  &:before
    content: ''
    height: 100%
    left: 0
    opacity: 0
    position: absolute
    top: 0
    visibility: hidden
    width: 100%
    z-index: 1
  &.canvas-sliding,
  &.canvas-slid
    &:before
      opacity: 1
      visibility: visible

.body, .navbar-fixed-top
  +breakpoint($screen-md-min)
    margin: 0 0 0 $navmenu-width
