@import 'variables'
@import 'settings/prefixer'
@import 'addons/rhythm'

.ng-hide
  display: none

a
  cursor: pointer

html, body
  min-width: 700px
  height: 100%

body
  line-height: rh()
  position: relative

html.turbolinks-progress-bar::before
  background-color: $brand-primary !important
